
*.npy
Untitled.ipynb
Untitled.ipynb
.ipynb_checkpoints/sandro-checkpoint.ipynb
.ipynb_checkpoints/Untitled-checkpoint.ipynb
trainset_python/python/class_names.txt
trainset_python/python/feature_names.txt
.ipynb_checkpoints/sandro_v2-checkpoint.ipynb
.ipynb_checkpoints/Untitled2-checkpoint.ipynb
Data_Exploration_2.pdf
*.csv
*.cvs
*.xml
*.iml
data_test_temp/file_train_50_00
data_test_temp/file_train_50_01
data_test_temp/file_train_50_02
data_test_temp/file_train_50_03
data_test_temp/file_train_50_04
data_test_temp/file_train_50_05
data_test_temp/file_train_50_06
data_test_temp/file_train_50_07
data_test_temp/file_train_50_08
data_test_temp/file_train_50_09
data_test_temp/file_train_50_10
data_test_temp/file_train_50_11
data_test_temp/file_train_50_12
data_test_temp/file_train_50_13
data_test_temp/file_train_50_14
data_test_temp/file_train_50_15
models/model_poly_degree_11
models/model_poly_degree_7
models/model_poly_degree_9
models/model_rbf
models/model_rbf_C_0.01
models/model_rbf_C_4
models/model_rbf_C_2
models/model_rbf_C_1.5
models/model_rbf_C_0.5
